<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Practice</title>
  <link href="assets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5" :id="id">Vue Practice</h1>
        <hr>
        <div id="app">
            <h3>Skills:</h3>
            <input type="text" v-model="newSkill">
            <button @click="addNewSkill">Add</button>
            <ul>
                <li v-for="(skill, i) of skills" @click="remove(i)" :key="skill">
                  {{ i }} - {{ skill.toUpperCase() }}
                </li>
            </ul>
          <ul>
              <li v-for="person of persons" >
                  {{ person.name }}
              </li>
          </ul>

          <hr>
          <h1 v-if="mode">This is text</h1>
          <button @click="toggle">Toggle</button>
        </div>
    </div>

    <script src="assets/vue3.js"></script>
    <script src="assets/main.js"></script>
</body>
</html>